<% provide(:title, '') %>
<div class="container">

	<% if signed_in? %>

		<div class="row meandiv">
	
		<%= render 'layouts/home/menu' %>
		
		<%= render 'layouts/home/user' %>
		
		<%= render 'layouts/home/loginbox' %>		

	</div>
	
  <% else %>

	<div class="row meandiv">
	
		<%= render 'layouts/mainmenu' %>
		
		<%= render 'layouts/frontpage' %>
		
		<%= render 'layouts/loginbox' %>
		
	</div>
	
  <% end %>

</div>
