		<div class="span2 MeanMenuContainer">
			
			<%= link_to signin_path do %> 
				<div  id="div1" class="MeanMenuUnit">Blog</div>
			<% end %>

			<%= link_to signin_path do %> 
				<div  id="div2" class="MeanMenuUnit">My pic</div>
			<% end %>

			<%= link_to signin_path do %> 
				<div  id="div3" class="MeanMenuUnit">for Fun</div>
			<% end %>
			
			<%= link_to users_path do %> 
				<div  id="div4" class="MeanMenuUnit">Users</div>
			<% end %>
			
			<%= link_to signup_path do %> 
				<div  id="div5" class="MeanMenuUnit">Sign-Up</div>
			<% end %>

			<%= link_to signin_path do %> 
				<div  id="div6" class="MeanMenuUnit">Sign-In</div>
			<% end %>

			<%= link_to help_path do %> 
				<div  id="div7" class="MeanMenuUnit">Help</div>
			<% end %>
			
			<%= link_to about_path do %> 
				<div  id="div8" class="MeanMenuUnit">About</div>
			<% end %>
			
		</div>