		<div class="span2 meandiv2">
			
			<%= link_to signin_path do %> 
				<div  id="div1" class="meanmenudiv meanmenulink">Blog</div>
			<% end %>

			<%= link_to signin_path do %> 
				<div  id="div2" class="meanmenudiv meanmenulink">My pic</div>
			<% end %>

			<%= link_to signin_path do %> 
				<div  id="div3" class="meanmenudiv meanmenulink">for Fun</div>
			<% end %>
			
			<%= link_to users_path do %> 
				<div  id="div4" class="meanmenudiv meanmenulink">Users</div>
			<% end %>
			
			<%= link_to signup_path do %> 
				<div  id="div5" class="meanmenudiv meanmenulink">Sign-Up</div>
			<% end %>

			<%= link_to signin_path do %> 
				<div  id="div6" class="meanmenudiv meanmenulink">Sign-In</div>
			<% end %>

			<%= link_to help_path do %> 
				<div  id="div7" class="meanmenudiv meanmenulink">Help</div>
			<% end %>
			
			<%= link_to about_path do %> 
				<div  id="div8" class="meanmenudiv meanmenulink">About</div>
			<% end %>
			
		</div>