<!DOCTYPE html>
<html>
<head>
  <title>My First Web</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8" name="Author">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
  <script type="text/javascript" src="js/index.js"></script>
  <link rel="stylesheet" type="text/css" href="twitter-bootstrap/css/bootstrap-responsive.css" >
  <link rel="stylesheet" type="text/css" href="twitter-bootstrap/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="css/common.css" /> 
  
  <script> 
   $(function(){
      $("#includedFooter").load("footer.html"); 
    });
  </script>  
  
  <style type="text/css">
   body
   {
	  background-image:url("img/background3_mini_large_colorD_offsetE.bmp"), url("img/background_mini_large_colorD_offsetE.bmp");
	  background-repeat:no-repeat, repeat;
   }
   </style>
   
   
</head>
<body>
	<%= render 'layouts/header' %>
		<div id="BlackNavBar" class="row-fluid NavBar">
			<div class="container">
				<nav class="nav pull-right NavBarRightText">
					<title class="span8">  No user logged </title>
					<title class="span2">  Exit </title>					
					<title class="span2">  More </title>
				</nav>
			</div>
		</div>
	
   	<div id="Firsttilte" class="row-fluid">
		<title class="span12 commontitleclass">  <%= full_title(yield(:title))%> </title>
	</div>
	

    <%= yield %>
	
    <div class="push"></div>
    
	<div class="footer">
        <footer id="includedFooter"></footer>
    </div>
</body>
</html>
